* {
    -webkit-appearance: none;
    appearance: none;
    box-sizing: border-box; /* Keeps box size consistent regardless of margin/padding/etc */
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-decoration: none; /* Removes link underlines */
    color: inherit; /* Overrides blue color of links */
}

body { /* removes default margin and padding on body */
    margin: 0px;
    padding: 0px;
}

.yBox {
    display: flex;
}

.xBox {
    background-color: lightgray;
    border-style:solid;
    border-width: 1px;
}

.hover {
    transition: all .15s ease-in;
    background-color: black;
}

.sliderContainer {
    width: 100%;
}

input {
    width: 40em;
    height: 1em;
    background: lightgray;
    opacity: 0.7;
    -webkit-transition: 0.5s;
    transition: opacity .5s;
}

input:hover {
    opacity: 1;
}

input::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 1.25em;
    height: 1.25em;
    cursor: pointer;
    background: black;
}

.footer {
    color: white;
    margin-top: 2.5em;
    background-color: black;
    padding: 10px;
}